.app-wrapper {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /*grid-gap: 10px;*/
  grid-template-areas:
  "h h"
  "c c";
}
.header{
  grid-area: h;
}
.app-wrapper-content{
  grid-area: c;
}